.btn-primary {
  background-color: #007bff;
  color: #fff; /* Texto en blanco */
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.2s;
  display: inline-block;
  text-decoration: none;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0056b3;
  transform: scale(1.05);
  outline: none;
}

.bg-gray-100 {
  background-color: #f7f7f7;
}

/* Sobre Nosotros */

#sobre-nosotros {
  text-align: left;
}

#sobre-nosotros h3 {
  color: #333;
}

#sobre-nosotros p {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}

.btn-about-us {
  background-color: #ff9500;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-about-us:hover {
  background-color: #e78900;
}

/* Estilos para grandes pantallas */
@media (min-width: 1024px) {
  #sobre-nosotros {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #sobre-nosotros .lg:pr-8 {
    padding-right: 2rem;
  }

  #sobre-nosotros .lg:flex-1 {
    flex-basis: 50%;
  }
}

.card {
  cursor: pointer;
}

.banner-image {
  height: 80vh !important;
}

.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

h2 {
  font-size: 50px !important;
}

.catalogo-seccion {
  height: 400px;
}

.chevron-icono {
  opacity: 0.2;
  transition: opacity 230ms ease-in-out;
}

.chevron-icono:hover {
  opacity: 1;
  cursor: pointer;
}

.carta-personalizada:hover {
  cursor: pointer;
  opacity: 1 !important;

  .chevron-producto {
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }
}

.chevron-producto {
  opacity: 0;
}
